DB_SOURCE=
HTTP_SERVER_ADDRESS=0.0.0.0:8080
TOKEN_SYMMETRIC_KEY=
ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_DURATION=24h
REDIS_URL=redis://localhost:6380
MIGRATION_URL=file://db/migration
EMAIL_SENDER_NAME=
EMAIL_SENDER_ADDRESS=
EMAIL_SENDER_PASSWORD=
API_LIMIT_BOUND=100
API_LIMIT_DURATION=5m